<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.6.0/echarts.min.js"></script>
    <title>Title</title>
</head>
<body>
<div style="alignment: left">
    <div id="sankeyChart_lift" class="subChart" style="height: 600px; width: 800px"></div>
    <div id="graphChart_Main" class="mainChart" style="height: 600px; width: 800px"></div>
</div>
<br />

<div>
    <table>
        <tr>
            <th>source</th>
            <th>target</th>
            <th>confidence</th>
        </tr>
        <tr th:each="FI:${FIList}">
            <td th:text="${FI.getSource()}"></td>
            <td th:text="${FI.getTarget()}"></td>
            <td th:text="${FI.getConfidence()}"></td>
        </tr>
    </table>
</div>
<script>

    var SankeyChart_Lift = echarts.init(document.getElementById('sankeyChart_lift'));
    var GraphChart_Main = echarts.init(document.getElementById('graphChart_Main'));

    function renderColor() {
        return "#"+(Math.random()*0xffffff<<0).toString(16);
    }

    var itemSets=[];
    var FrequentModels=[];

    var idPool=0;

    //get frequent item set information
    $.ajax({
        url: "/data/filist",
        type: "GET",
        dataType: "json",
        success: function (data) {
            idPool=0;
            var items = data.itemSetList;
            var models = data.modelList;
            for (var i in items) {
                var item={};
                item.items = items[i].itemSet;
                item.support = items[i].support;
                item.id = idPool++;
                itemSets.push(item);
            }
            console.log(itemSets);
            for (var i in models) {
               FrequentModels.push(models[i]);
               // console.log(renderColor());
               // if (itemSets[data[i].source] == null) {
               //     itemSets[data[i].source] = renderColor();
               // }
               // if (itemSets[data[i].target] == null) {
               //     itemSets[data[i].target] = renderColor();
               // }
            }
            renderRelationshipChart();
        }
    })


    function renderRelationshipChart() {

        nodes = []
        links = []

        for (var i in itemSets) {
            var node = {};
            node.id = itemSets[i].id;
            node.name = itemSets[i].items;
            node.value = itemSets[i].support;
            node.x = -400 + Math.random()*800;
            node.y = -300 + Math.random()*600;
            node.symbolSize = (60 * itemSets[i].support * itemSets[i].support);
            nodes.push(node);
        }

        for (var i in FrequentModels) {
            var link = {};
            for (var j in itemSets) {
                if (FrequentModels[i].source == itemSets[j].items) {
                    link.source = itemSets[j].id.toString();
                }
                if (FrequentModels[i].target == itemSets[j].items) {
                    link.target = itemSets[j].id.toString();
                }
            }
            links.push(link);
        }

        option = {
            title: {
              text: '关系图',
              subtext: 'powered by echart',
              left: '4%',
            },
            series: [{
                name: 'support',
                type: 'graph',
                data: nodes,
                links: links,
                scaleLimit: {
                    min: 0.4,
                    max: 2,
                },
                lineStyle: {
                    color: 'source',
                    curveness: 0.3,
                },
                label: {
                    show: true,
                    formatter: '{b}'
                },
                labelLayout: {
                    hideOverlap: true,
                },
                draggable: true,
            }],
        }

        GraphChart_Main.setOption(option);
    }

    function renderSubChart() {

        var itemSetList = [];
        var chartData = [];

        for (var s in itemSets) {
            itemSetList.push(
                {
                    name: s,
                    itemStyle: {
                        color: itemSets[s],
                    }
                }
            )
        }

        for (var i = 0; i < FrequentModels.length; i++) {
            var linkcolor = new echarts.graphic.LinearGradient(0, 0, 1, 0, [{
                    offset: 0,
                    color: itemSets[FrequentModels[i].source]
                }, {
                    offset: 1,
                    color: itemSets[FrequentModels[i].target]
                }]
            )
            chartData.push(
                {
                    source: FrequentModels[i].source,
                    target: FrequentModels[i].target,
                    value: FrequentModels[i].confidence,
                    lineStyle: {
                        color: linkcolor
                    }
                }
            )
        }

        option = {
            title: {
                text: '桑基图之城市移民人口统计',
                subtext: 'powered by echart',
                left: '5%',
            },
            tooltip: {
                trigger: 'item',
                triggerOn: 'mousemove'
            },
            series: [
                {
                    type: 'sankey',
                    top: 50,
                    data: itemSetList,
                    links: chartData,
                    focusNodeAdjacency: 'allEdges',
                    itemStyle: {
                        borderWidth: 1,
                        color: '#1b6199',
                        borderColor: '#ffffff'
                    },
                    lineStyle: {
                        curveness: 0.5,
                        opacity: 0.5
                    }
                }
            ]
        }
        SankeyChart_Lift.setOption(option);
    }

</script>

</body>
</html>