<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.6.0/echarts.min.js"></script>
    <title>Title</title>
</head>
<body>

<div id="echart-main" style="height: 600px; width: 800px"></div>
<br />
<div>
    <table>
        <tr>
            <th>source</th>
            <th>target</th>
            <th>confidence</th>
        </tr>
        <tr th:each="FI:${FIList}">
            <td th:text="${FI.getSource()}"></td>
            <td th:text="${FI.getTarget()}"></td>
            <td th:text="${FI.getConfidence()}"></td>
        </tr>
    </table>
</div>
<script>

    var myChart = echarts.init(document.getElementById('echart-main'));

    function renderColor() {
        var r = Math.round(Math.random() * 255).toString(16);
        var g = Math.round(Math.random() * 255).toString(16);
        var b = Math.round(Math.random() * 255).toString(16);
        return ;
    }

    var itemSets={};
    var FrequentModels=[];

    var itemSetList=[];
    var chartData=[];

    $.ajax({
        url: "/data/filist",
        type: "GET",
        dataType: "json",
        success: function (data) {
           for (var i in data) {
               FrequentModels.push(data[i])
               console.log(renderColor());
               if (itemSets[data[i].source] == null) {
                   itemSets[data[i].source] = "#ff00ff";
               }
               if (itemSets[data[i].target] == null) {
                   itemSets[data[i].target] = "#00ff00";
               }
           }
           renderChart();
        }
    })

    function renderChart() {

        for (var s in itemSets) {
            itemSetList.push(
                {
                    name: s,
                    itemStyle: {
                        color: itemSets[s],
                    }
                }
            )
        }

        for (var i = 0; i < FrequentModels.length; i++) {
            var linkcolor = new echarts.graphic.LinearGradient(0, 0, 1, 0, [{
                    offset: 0,
                    color: itemSets[FrequentModels[i].source]
                }, {
                    offset: 1,
                    color: itemSets[FrequentModels[i].target]
                }]
            )
            chartData.push(
                {
                    source: FrequentModels[i].source,
                    target: FrequentModels[i].target,
                    value: FrequentModels[i].confidence,
                    lineStyle: {
                        color: linkcolor
                    }
                }
            )
        }
        option = {
            title: {
                text: '桑基图之城市移民人口统计',
                subtext: 'powered by echart',
                left: '5%',
            },
            tooltip: {
                trigger: 'item',
                triggerOn: 'mousemove'
            },
            series: [
                {
                    type: 'sankey',
                    top: 50,
                    data: itemSetList,
                    links: chartData,
                    focusNodeAdjacency: 'allEdges',
                    itemStyle: {
                        borderWidth: 1,
                        color: '#1b6199',
                        borderColor: '#fff'
                    },
                    lineStyle: {
                        curveness: 0.5,
                        opacity: 0.5
                    }
                }
            ]
        }
        myChart.setOption(option);
    }

</script>

</body>
</html>